body {
    background-color: black;
    
}

#main-doc {
    border-radius: .2cm;
    background-color: hsla(101, 62%, 90%, 0.993);
    margin-left: 250px;
    margin-top: 10px;
    padding: 2em;
  
}

header {
  
    font-size: 2em;
    font-weight: bolder;
    text-align: center;
}

#main-doc header {
  margin-top: 50px;
}

#main-doc .top {
  margin-top: -15px;
}

p {
  font-size: 1.1em;
}

h4 {
  font-size: 1.2em;
}
span {
    font-weight: bold;
}

pre {
  background-color:rgba(252, 252, 186, 0.541);
  border-radius: 1em;
  font-size: 1.3em;
}

/*BARRA NAVEGACION*/



#navbar header {
    color:white;
}


#navbar {
 
  height: 100%;
  width: 250px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  padding-top: 20px;
 
}






.sidenav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  border-bottom: 1px black solid;
}

.sidenav a:hover {
  color: #f1f1f1;
  border-bottom: 1px white solid;
}


@media(max-width:700px) {

  #navbar{
 
    height: 200px;
    width: 100%;
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    padding-top: 20px;
  }

  #main-doc {
    border-radius: .2cm;
    background-color: hsla(101, 62%, 90%, 0.993);
    margin-left: auto;
    margin-top: 200px;
    padding: 2em;
  
}
}

