body {
    background-color: black;
    
}

#main-doc {
    border-radius: .2cm;
    background-color: hsla(101, 62%, 90%, 0.993);
    margin: 3em;
    padding: 2em;
}

header {
    font-size: 2em;
    font-weight: bolder;
    text-align: center;
}

span {
    font-weight: bold;
}


/*BARRA NAVEGACION*/

#navbar header {
    color:white;
}

#main-doc{
    transition: margin-left .5s;
padding: 16px;
}


.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
  }
  
  .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }
  
  .sidenav a:hover {
    color: #f1f1f1;
  }
  
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }

  nav span {
    top: 0;
    color: white;
    position: fixed;
  }
  